body{
    background-color: whitesmoke;
}

label{
    margin: 0;
    color: #333
}

p{
    margin: 0;
}

a{
    color: white;
}

.navbar{
    background-color: rgb(22, 150, 235);
}

.col {
    max-width: 55%;
}

.card{
    padding: 50px;
}

@media (max-width: 800px){
    .col{
        max-width: 80%;
    }
}